.section-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	span {
		color: #aaaaaa;
		font-size: 40px;
		margin: 10px;
	}
}

.add-button {
	padding: 10px;
  margin: 15px;
  border-radius: 10px;
  font-size: 20px;
  transition: 500ms;
  border: none;
  background-color: #ffffff;
	color: #024daf;
	border: solid 1px #024daf;
	outline: none;
	cursor: pointer;

  &:hover {
    background-color: #e9e7e7;
  }
}

.dialog-toast__content {
	padding: 12px 10px 0 70px;
	font-size: 14px;
	overflow: hidden;
	min-height: 50px;
}