$base-color: #5396ee;

$border-color: #bbbbbb;
$sub-border-color: #eeeeee;

$sub-text-color: #8b8b8b;
$modal-text-color: #005eda;

$scrollbar-width: 8px;
$scrollbar-radius: 10px;
$scrollbar-background: #f5f5f5;
$scrollbar-thumb: #d1d1d1;